body {
    background-image: url("bg.jpg");
}

#text_field {
    border-radius: 10px;
}

button {
    background: #fff9ce;
    #padding: 25px;
    #text-align: center;
    #display: block;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

input {

    #border: 2px solid #000;
    border-radius: 10px;
    #cursor: pointer;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

#dictionary {
    background-color: #000000;
    color: white;
    text-align: center;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    border-radius: 10px;
}

h1, h3, h2 {
    color: white;
    text-align: center;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

p, .user-label {
    color: white;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

#titleBoard {
    margin-left: auto;
    margin-right: auto;
}

#exit {
    text-align: center;
    background-color: #000000;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

.drag {
    width: 38px;
    height: 38px;
    background-color: #efb583;
    float: left;
    text-decoration: none;
    color: #000000;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0.1em solid black;
    line-height: 38px;
    border-radius: 8px;
    #margin: 5px
}

.player {
    background: rgba(55, 218, 70, 0.39);
    padding: 25px;
    text-align: center;
    width: 60px;
    height: 10px;
    display: block;
    border: 2px solid #000;
    border-radius: 20px;
    line-height: 10px;
}

#board {
    margin-left: auto;
    margin-right: auto;
    border: 0.2em solid #000000;
}

#board td {
    width: 40px;
    height: 40px;
    margin: 0;
    border: 0.1em solid #99CCCC;
    padding: 0;
    background-color: #c4eeff;
    text-align: center;
}

#board td.doubleLetter {
    border-color: #99CCFF;
    background-color: #99CCFF;
    color: #CCE6FF;;
}

#board td.doubleWord {
    border-color: #FF9999;
    background-color: #FF9999;
    color: #FFCCCC;
}

#board td.star {
    border-color: #FFCC66;
    background-color: #FFCC66
}

#board td.tripleLetter {
    border-color: #0066CC;
    background-color: #0066CC;
    color: #0099CC;
}

#board td.tripleWord {
    border-color: #DD3333;
    background-color: #DD3333;
    color: #FF6666
}

#info-above-board {
    font-size: larger;
}