{% load staticfiles %}
{% load board %}

<!DOCTYPE html>
<html>
<head>
    <title>Gra przegladarkowa Scrabble</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "my_styles.css" %}">
</head>

<body>
<table id="titleBoard">
    <tbody>
    <tr>
        <td>
            <p id="gracze">

            <h3>Aktywni gracze:</h3>
            </p>
            <div id="players">
                {% for player in players %}
                    <div class="player">
                        {{ player }}
                    </div>
                {% endfor %}
            </div>
        </td>
        <td>
            <h1>GRA SCRABBLE</h1>
        </td>
    </tr>
    </tbody>
</table>


<div id="dictionary">
    <br>

    <p>
        SŁOWNIK JĘZYKA POLSKIEGO
    </p>

    <p>
        <input id="text_field" type="textbox">
        <button id="slownik">Sprawdź w słowniku</button>
    </p>
</div>

{% if state == 'running' %}
    <p>
        Zostało {{ tiles_left }} liter do końca gry.
    </p>
{% endif %}

<p id="info-above-board">
    Masz {{ points }} punktów, {{ players_name }}.{% if players_turn %} Twoja kolej.{% endif %}
</p>

<table id="board">
    <tbody id="board-body">

    {% for row in board %}
        <tr>
            {% for cell in row %}
                <td class="{% cell_class forloop.counter forloop.parentloop.counter %}">
                    {% if cell %}{{ cell }}{% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

</table>

{% if state == 'running' %}
    <div>
        <button type="button" id="sendWord">Prześlij słowo</button>
    </div>

    <div>
        <button type="button" id="doNothing">Nic nie rób</button>
    </div>

    <div id="rack">
        {% for tile in tiles %}
            <div class="drag">
                {{ tile }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<br>
<br>

<div id="exit">
    <a href="{% url 'scrabbleapp.views.remove_player_from_game' game_id %}">Wyjdź z gry</a>
</div>

{% if state == 'waiting' %}
    <p>Oczekiwanie na min. 2 graczy...</p>
{% elif state == 'ready' %}
    <p>Gra gotowa do rozpoczęcia. <a href="{% url 'scrabbleapp.views.start_game' game_id %}">Rozpocznij.</a></p>
{% endif %}

<script src="{% static "jquery-2.1.0.js" %}"></script>
<script src="{% static "jquery-ui.js" %}"></script>
<script type="text/javascript" src="{% static "board.js" %}"></script>
</body>

</html>