{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Logowanie</title>
    <link rel="stylesheet" href="{% static "my_styles.css" %}">
</head>
<body>

<form method="post" action="{% url "scrabbleapp.views.user_login" %}">
    {% csrf_token %}
    <label><span class="user-label">Username:</span> <input type="text" name="username" value="" size="50"></label><br/>
    <label><span class="user-label">Password:</span> <input type="password" name="password" value=""
                                                            size="50"></label><br/>
    <input type="submit" value="Login">
</form>

<p>
    Jeżeli nie jesteś zarejestrowany: <a href="{% url 'scrabbleapp.views.register' %}">Zarejestruj się </a>
</p>
</body>
</html>