{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <title>Profil</title>
    <link rel="stylesheet" href="{% static "my_styles.css" %}"  >
</head>
<body>
<h1>Witaj, {{ username }}</h1>

{% if errors %}
    <h2>{{ errors }}</h2>
{% endif %}

{% for game in games %}
    <p>Gra (ID: {{ game.id }}
        {% if player not in game.players.all %}
            , <a href="{% url 'scrabbleapp.views.add_player_to_game' game.id %}"> Dolacz do gry</a>
        {% else %}
            , <a href="{% url 'scrabbleapp.views.remove_player_from_game' game.id %}"> Wyjdz z gry</a>
            , <a href="{% url 'scrabbleapp.views.play_game' game.id %}"> Kontynuuj grę</a>
        {% endif %})
    </p>
{% endfor %}
<a href="{% url 'scrabbleapp.views.user_logout' %}">Wyloguj</a><br>
<a href="{% url 'scrabbleapp.views.create_game' %}">Utwórz nową grę</a>
</body>
</html>