{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Rejestracja</title>
    <link rel="stylesheet" href="{% static "my_styles.css" %}"  >
</head>
<body>
<h1>Rejestracja</h1>

{% if registered %}
    <h2>Zarejestrowales sie!</h2>
    <p>
      <a href="{% url 'scrabbleapp.views.user_login' %}">Przejdź do okna logowania </a>
    </p>
{% else %}
    <h2>Czas sie zarejestrowac.</h2>
    <form method="post" action="{% url 'scrabbleapp.views.register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        <input type="submit" name="submit" value="Zarejestruj">
    </form>
{% endif %}
</body>
</html>